.main-box{
  display: flex;
  flex-wrap: wrap;
}
.box {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  padding: 10px;
  margin: 20px;
  background-color: lightgreen;
}

img {
  cursor: pointer;
  border: 1px solid black;
  width: 60%;
  height: 60%;
}

.data-container {
  flex-grow: 1;
  flex-basis: 300px;
  align-self: start;
  position: sticky;

  padding: 10px;
  width: 50%;
}

p {
  font-weight: bold;
}


