<div class="menu" routerLink="/menu">Shop More</div>
<div class="main">
  <div class="main-div">
    <h3 style="text-align: center">{{foodDetail.foodName}}</h3>
    <img [src]="foodDetail.img" alt="Food Item">
    <div class="content">
      <p class="info">Price: ${{foodDetail.price}}</p>
     <p><button (click)="cartAdd(foodDetail)">Add to Cart</button></p>
      <p class="info">Delivery Time: {{foodDetail.deliveryTime}} mins</p>
      <p style="width:-moz-fit-content;word-break: break-all">{{foodDetail.detail}}</p>
    </div>
  </div>
  <div class="sidebar">
    <app-cart-info></app-cart-info>
  </div>
</div>
<footer></footer>

