.box {
  width: 250px;
  padding: 10px;
  margin: 20px;
  background: lightgreen;
}

.button {
  font-size: 12px;
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonCheckout {
  background-color: #474A59;
}

.buttonEmpty {
  background-color: red;
}

