<h2>Checkout</h2>
<h5>You have {{checkoutContent.length}} food {{checkoutContent.length > 1 ? 'items' : 'item'}} in the cart.</h5>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Food Item</th>
    <th>Rate</th>
    <th>Quantity</th>
    <th>Total Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let content of checkoutContent; let i = index">
    <td>{{i + 1}}</td>
    <td>{{content.food}}</td>
    <td>{{content.price / content.quantity}}</td>
    <td>{{content.quantity}}</td>
    <td>{{content.price}}</td>
  </tr>
  <tr>
    <td></td>
    <td>Total</td>
    <td></td>
    <td></td>
    <td>{{child.totalPrice}}</td>
  </tr>
  </tbody>
</table>

<div class="page">
  <div class="container">
    <div class="left">
      <div class="login">Enter Payment Info</div>
    </div>
    <div class="right">
      <form [formGroup]="paymentForm" (ngSubmit)="submitPayment$()">
        <div class="form">
          <label for="userName">Full Name</label>
          <input type="text" id="userName" formControlName="name">
          <label for="contact">Contact</label>
          <input type="text" id="contact" formControlName="contact">
          <label for="card">Credit Card Num</label>
          <input type="text" id="card" formControlName="creditCard">
          <label for="type">Card Type</label>
          <input type="text" id="type" formControlName="cardType">
          <label for="pin">Pin</label>
          <input type="password" id="pin" formControlName="pin">
          <input type="submit" id="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
